* {
    background-color: rgb(39, 38, 38);
    box-sizing: border-box;
}
html {
    height: 100%;
    margin: 0;
}
body {
    height: 95%;
    padding: 22px;
    margin: 0;
}
#gigaContainer {
    display: flex;
    height: 90%;
    justify-content: space-between;
}

h1 {
    display: inline;
}

h2 {
    margin-bottom: 15px;
    display: inline;
}

button {
    background-color: rgb(178, 156, 228);
    border: none;
    border-radius: 4px;
    padding: 10px 5px;
    color: rgb(0, 0, 0);
}

button img {
    width: 12px;
    background-color: rgba(255, 0, 0, 0);
    color: whitesmoke;
}

#confirmTasks{
    margin-left: 22px;
    margin-bottom: 10px;
}

#newTaskButton {
    padding: 6px;
    margin-top: 8px;
    border-radius: 22px;
    background-color: rgb(58, 56, 56);
}

a{
    text-decoration: none;
    color: rgb(151, 128, 204);
}

a:hover{
    text-decoration: underline;
    color: rgb(151, 128, 204);
}

.text {
    color: rgb(218, 218, 218);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 0, 0, 0);
    font-size: 32px;
}

.bodyText {
    color: rgb(218, 218, 218);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 0, 0, 0);
    font-size: 19px;
    margin: 16px 0px 18px 18px;
}

.favouriteColor {
    font-size: 18px;
    margin: 18px 18px 18px 0px;
    color: rgb(185, 162, 230);
    background-color: rgba(255, 0, 0, 0);
}

#suggestions li {
    background-color:  rgb(87, 79, 79);
    padding: 10px;
    margin: 0;
}

/* Number input */
.amountTimes {
    width: 90px;
    border-radius: 10px;
    border: none;
    border-bottom: 2px solid rgb(100, 97, 97);
    text-align: right;
    padding-right: 8px;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
     margin-left: 15px; 
} 

.timesDone {
    color: rgb(218, 218, 218);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 0, 0, 0);
    font-size: 19px;
}

.hugBottom {
    position: absolute;
    bottom: 0;
    margin: 0;
}

/* Left section of web */
#ListOfTasks {
    width: 55%;
}

.slider{
    display: flex;
    position: relative;
}

.sliderButtons {
    display: flex;
    margin-top: auto;
}

.taskInfo {
    display: flex;
    justify-content: space-between;
    padding: 0px 14px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 8px;
    border-radius: 22px;
    background-color: rgb(58, 56, 56);
}

#inputTask{
    width: 88%;
    height: 22px;
    font-size: 15px;
    color: whitesmoke;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px rgba(211, 211, 211, 0.568) solid;
}

/* Rigth section of web */
#LevelAndSettings {
    width: 30%;
    height: 90%;
    position: relative;
}

#LevelInfo {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 12px;
    justify-content: center;
    background-color: rgb(58, 56, 56);
}

.horizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
}

#xpBar {
    height: 20px;
    border-radius: 22px;
    margin-top: 26px;
    background-color: rgb(192, 187, 192);
}

#xpBarUnconfirmed {
    height: 20px;
    width: 42%;
    border-radius: 22px;
    overflow: hidden ;
    background-color: rgba(173, 75, 173, 0.5);
}

#xpBarConfirmed {
    height: 20px;
    width: 50%;
    border-radius: 22px;
    overflow: hidden ;
    background-color: rgb(141, 47, 141);
}


/* Modal interface */
.hidden {
    visibility: hidden;
}

.shown {
    visibility: visible;
    transition: all 1.5s;
}

.modalText{
    color: rgb(218, 218, 218);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(255, 0, 0, 0);
    font-size: 19px;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 12px;
}

#checkboxModal {
    margin: 0px 26px;
}

.modalHorizontal {
    display: flex;
    justify-content: center;
    background-color: inherit;
}

.centerModalQuestion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    padding: 0;
}

ul li {
    color: whitesmoke;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 8px;
    border-radius: 22px;
    background-color: rgb(58, 56, 56);
}

#modalNewTask {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 22px;
    border-radius: 16px;
}

#modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modalBody {
    display: flex;
    flex-direction: column;
}

#closeButton {
    height: 30px;
    width: 30px;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    text-align: center;
    vertical-align: auto;
}

#modalButtons{
    display: flex;
    justify-content: right;
}

#modalButtons button{
    margin: 12px;
    margin-top: 22px;
    font-size: 16px;
    padding: 12px 18px;
}

#blurBackground {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.541);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}
